html,
body {
	font-family: 'Roboto', sans-serif;
}

html {
	background: #f3f6f9 url('../images/misc/paw_pattern.02.png') repeat fixed;
}

pre,
code {
	font-family: 'Fira Mono', monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Roboto Condensed', sans-serif;
}

.hero {
	position: relative;
	overflow: hidden;
	text-shadow: 0 2px 4px rgba(5, 6, 6, .8);
	.navbar-menu {
		.navbar-start,
		.navbar-end {
			> .navbar-item {
				font-family: 'Roboto Condensed', sans-serif;
			}
		}
	}
}

.hero-promo {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
	video {
		min-width: 100%;
		min-height: 100%;
		max-width: none;
		width: auto;
		height: auto;
		transition: 1s opacity;
	}
}